.zsh/history/
*.swp
*.log
*.pem
.config/alfred
.config/anyenv/*.swp
.config/anyenv/envs/
.config/anyenv/plugins/
.config/aqua/private/
.config/cheat/cheatsheets/private
.config/gcloud/
.config/direnv/
.config/github-copilot/hosts.json
.config/op/
.config/okteto/*.config
.config/configstore/
.config/helm/*
node_modules/
.config/coc/
.config/github-copilot/versions.json
.config/nvim/sessions
.config/nvim/lazy-lock.json
.config/cheat/cheatsheets
.config/nvim/plugin/packer_compiled.lua
.config/waypoint/
.config/iterm2/
.chef/
.jupyter/migrated
.zsh/Completion/_*
.config/nvim/.luarc.json
.tmux/plugins/*
